* {
    margin: 0;
    padding: 0;
}

#topmenu {
    width: 100%;
    height: 50px;
    background-color: green;
}

#topmenu ul{
    list-style-type: none;
}

#topmenu ul li{
    display: inline-block;
    padding: 15px;
}

#topmenu ul li a{
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#topmenu ul li:hover{
   background-color: lightgreen;
}

#topmenu ul li #submenu1{
   position: relative;
}

#topmenu ul li #submenu ul{
    position: absolute;
    background-color: green;
}

#topmenu ul li #submenu ul li{
    width: 150px;
}